<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Selected</th>
            <th>Available</th>
            <th>Select</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <app-product-item *ngFor="let product of state?.products" [product]="product" style="display: contents;">
        </app-product-item>
    </tbody>
</table>